.dashboard {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    position: absolute;
    width: 100%;
    background-color: #e2e0e0;
}
.searchResult {
    position: absolute;
    display: flex;
    width: 40%;
    height: 100px;
    top: 10%;
    border: solid 1px;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #fff;
    border-radius: 6px;
    color: black;
    z-index: 999;
}
