.dashboard {
    display: flex;
    align-items: flex-start;
    padding: 70px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eef1f2fb;
}
.post_feed {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.searchResult {
    position: absolute;
    display: flex;
    width: 40%;
    height: 100px;
    top: 10%;
    border: solid 1px;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #fff;
    border-radius: 6px;
    color: black;
    z-index: 999;
}
