.reply_section {
    display: flex;
    flex-direction: column;
    
}
.parent_reply {
    border: solid 1px;
    border-color: aqua;
}
.nested-replies {
    border: solid 1px;
    border-color: red;
}