/* .repost_item_wrapper {

} */
.repost_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    border-top: solid 0.5px grey;
    border-bottom: solid 0.5px grey;
    padding-bottom: 0.5rem
}
.repost_author_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem;
}
.repost_author-content{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    height: 60px;
    gap: 0.5rem;
    margin: 0;
    position: relative;
}
.repost_author-info {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 30px;
    top: 0;
    width: 100%;
    font-family: sans-serif;
}
.bio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    color: rgb(117, 111, 111);
    width: 100%;
    bottom: 0;
}
.repost_item_content {
    width: 100%;
    margin: 0;
  }
.repostImg {
    max-width: 100%;
    display: flex;
    background: #ffffff68;
    object-fit: cover;
    overflow: hidden;
  }
.repostImg > img {
    max-width:  100%;
}
.repost_title {
    width: 100%;
    margin: 0;
    padding: 0.3rem;
    font-size: 15px;
}
.user_profile_img_container_repost {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    top: 5%;
    left: 1%;
  }
.user_profile_img {
    max-width: 100%;
}
.repost_body_container {
    line-height: 1;
    margin: 0;
    padding-block: 7px;
    max-height: auto;
}
.repost_body {
    padding-inline: 0.3rem; 
}
.repost_meta {
    display: flex;
    align-items: center;
    padding-block: 5px;
    gap: 10px;
    margin-left: 5px;
    color: rgb(117, 111, 111);
    font-family: sans-serif;
}