.image_cropper_background {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 100%;
height: 100%;
background-color: aliceblue;
color: black;
}
.crop-action-btn {
    margin-top: 10rem;
}